html {
  height: 100%;
}

body {
  background: #EB3349;
  background-image: -webkit-linear-gradient(to top, #EB3349, #F45C43);
  background-image: linear-gradient(to top, #EB3349, #F45C43);
  color: hsla(0, 0%, 100%, 0.99);
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.house-tunes {
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  padding: 0;
  margin: 0;
}

@media screen and (min-height: 674px) {
  .house-tunes {
    display: grid;
  }
}

.loading {
  align-items: center;
  background: hsla(358, 82%, 57%, 0.7);
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  padding: 32px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
}

.controller-down,
.app-starting {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  font-size: 20px;
  height: 100vh;
  justify-content: center;
  padding: 32px;
  text-align: center;
}

.zone-info {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 375px;
  min-height: 40px;
  padding: 0 24px;
}

.go-back {
  background: none;
  border: none;
  color: hsla(0, 0%, 100%, 0.99);
  cursor: pointer;
  font-size: 32px;
  margin: 0;
  outline: 0;
  padding: 0;
  text-shadow: 0 1px 3px hsl(353, 61%, 32%);
}

.zone-title {
  font-size: 32px;
  font-weight: 300;
  line-height: 40px;
  margin: 0;
  padding: 0;
  text-shadow: 0 1px 0 hsl(353, 61%, 34%);
}

.view-title {
  font-size: 20px;
  font-weight: 300;
  height: 24px;
  line-height: 24px;
  margin: 0 auto;
  max-width: 375px;
  padding: 0 24px 36px;
  text-align: right;
  text-shadow: 0 1px 0 hsl(353, 61%, 34%);
}

.now-playing,
.options-list,
.pagination,
.controls {
  margin: 0 auto;
  max-width: 375px;
  overflow-y: auto;
  padding: 16px 24px;
}

.options-list {
  min-height: 180px;
  padding: 0 12px;
}

.now-playing {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  justify-content: center;
  line-height: 24px;
  min-height: 220px;
  text-align: center;
}

.options-list__option {
  align-items: center;
  background: none;
  border: none;
  border-radius: 2px;
  color: hsla(0, 0%, 100%, 0.98);
  cursor: pointer;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: 34px;
  outline: 0;
  padding: 0 12px;
  text-shadow: 0 1px 0 hsl(353, 61%, 34%);
  width: 100%;
}

.options-list__option--active {
  background: hsl(353, 82%, 50%);
}

.zone-list__playing-indicator {
  margin: 0 6px 0 0;
  width: 16px;
}

.zone-list__playing-indicator .volume-indicator {
  display: block;
  width: 100%;
}

.options-list__name {
  margin: 0 8px 0 0;
}

.zone-list__source {
  font-size: 15px;
  font-weight: 300;
  margin: 0 0 0 auto;
  text-shadow: none;
}

.zone-list__source + .options-list__marker {
  margin-left: 10px;
}

.options-list__marker {
  height: 12px;
  margin: 0 0 0 auto;
  opacity: 0.7;
}

.pagination {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr 1fr;
  margin: 24px auto 0;
  max-width: 375px;
}

.controls {
  display: grid;
  grid-gap: 8px;
  padding-bottom: 32px;
}

.action {
  background: hsla(0, 0%, 100%, .2); 
  border: none;
  border-radius: 2px;
  box-sizing: border-box;
  color: hsla(0, 0%, 100%, 0.99);
  cursor: pointer;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 40px;
  margin: 0;
  outline: 0;
  padding: 0 24px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.action--page-up,
.action--page-down {
  color: hsla(0, 0%, 100%, .9); 
  box-shadow: 0 2px 3px hsla(353, 82%, 46%, 1.0);
  font-size: 22px;
}

.action--power-off {
  margin: 24px 0 0;
}

.action--disabled {
  opacity: 0.4;
}

.loading-indicator {
  align-items: center;
  box-sizing: border-box;
  color: hsla(0, 0%, 100%, .8);
  display: flex;
  font-size: 13px;
  line-height: 24px;
  margin: 0 auto 8px;
  max-width: 375px;
  min-height: 40px;
  opacity: 1;
  padding: 8px 24px 2px;
  text-align: right;
  text-transform: uppercase;
}

.error-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.error {
  margin: 0 auto;
  max-width: 375px;
  padding: 24px;
  text-align: center;
}

.error-title {
  font-size: 24px;
  font-weight: 400;
}

.error .action {
  margin-top: 24px;
}
